.button {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  background-color: #3f7dde;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #316bcb;
}
